/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --themes-main-color-second: #ffffff;
    --accent-color: #000000;
    --themes-main-color: #000000;
    --gradient-color: #d3d3d3;
    --gradient-begin: #e7e7e7;
    --gradient-end: #1a1a1a;
    --heart-color: #FF0000;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --mix-blend: difference;
}

:root.theme-dark {
    --themes-main-color-second: #000000;
    --accent-color: #00cc14;
    --themes-main-color: #00cc14;
    --gradient-color: #000;
    --gradient-begin: #007f0c;
    --gradient-end: #004306;
    --font-weight-regular: 465;
    --font-weight-bold: 785;
    --mix-blend: normal;
}

@media (prefers-color-scheme: light) {
    :root {
        --themes-main-color-second: #ffffff;
        --accent-color: #000000;
        --themes-main-color: #000000;
        --gradient-color: #d3d3d3;
        --gradient-begin: #e7e7e7;
        --gradient-end: #1a1a1a;
        --heart-color: #FF0000;
        --font-weight-regular: 400;
        --font-weight-bold: 700;
        --mix-blend: difference;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --themes-main-color-second: #000000;
        --accent-color: #00cc14;
        --themes-main-color: #00cc14;
        --gradient-color: #000;
        --gradient-begin: #007f0c;
        --gradient-end: #004306;
        --font-weight-regular: 465;
        --font-weight-bold: 785;
        --mix-blend: normal;
    }
}