/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --themes-main-color-second: #ffffff;
    --accent-color: #000000;
    --themes-main-color: #000000;
    --gradient-color: #d3d3d3;
    --gradient-begin: #e7e7e7;
    --gradient-end: #1a1a1a;
    --heart-color: #ff0000;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --mix-blend: difference;
}